@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    color: #ffffff;
    background-color: #000000;
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

